@use "reset";
@use "fonts";

@mixin mainButton() {
    padding: 20px 78px;
    background: linear-gradient(103.71deg, #35cbd5 -21.9%, #2bb9c2 86.25%);
    border: none;
    border-radius: 6px;
    color: white;
    @include fonts.btn();
}

* {
    box-sizing: border-box;
}

body {
    color: #54504c;
}

.container {
    max-width: 1600px;
    padding: 0px 16px;
    margin: 0 auto;
}
.row {
    display: flex;
}

// --- Desktop ---

.header {
    .header-wrapper {
        display: grid;
        grid-template-columns: 170px 1fr;
        align-items: center;
        padding: 20px 0px;
        .header-logo {
            width: 170px;
            height: 60px;
        }
        .header-menu {
            justify-self: center;
            gap: 100px;
            font-family: "Lexend", sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 36px;
        }
    }
}
.introduce-section {
    position: relative;
    text-align: center;
    height: calc(100vh - 100px);
    overflow: hidden;
    .introduce-section-video {
        width: 100%;
    }
    .introduce-section-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        color: white;
        background: linear-gradient(
            71.85deg,
            rgba(23, 55, 57, 0.8) 32.05%,
            rgba(0, 0, 0, 0) 112.28%
        );
        height: 100%;
    }
    .introduce-section-text-wrapper {
        position: relative;
        height: calc(100vh - 100px);
    }
    .introduce-section-text {
        position: absolute;
        top: 30%;
        text-align: left;
        width: 60%;
        .introduce-section-title {
            @include fonts.h1();
        }
        .introduce-section-subtitle {
            @include fonts.t5();
            margin-top: 20px;
            margin-bottom: 45px;
            > span {
                color: #fbba00;
                font-weight: 600;
                font-size: 38px;
            }
        }
        .introduce-section-btn {
            padding: 20px 69px;
            color: white;
            @include fonts.btn();
            background: linear-gradient(
                115.1deg,
                #ffaa00 -17.37%,
                #ff5500 82.64%
            );
            border: none;
        }
    }
}
.main-btn {
    @include mainButton();
}
.slider {
    .slick-dots {
        bottom: -40px;
    }
    .slick-dots li.slick-active button {
        margin-top: -3px;
    }
    .slick-dots li button:before {
        content: "○";
        font-size: 25px;
        opacity: 1;
        line-height: 25px;
    }
    .slick-dots li.slick-active button:before {
        content: "•";
        font-size: 15px;
        opacity: 1;
        line-height: 27px;
    }
}
.about-section {
    padding: 60px 0px;
    text-align: center;
    .about-section-bg {
        background-image: url(images/about-bg-1.png), url(images/about-bg-2.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 0% -200%, 100% 150%;
    }
    .about-section-title {
        @include fonts.h2();
        color: black;
        margin-bottom: 20px;
    }
    .about-section-list {
        @include fonts.t4();
        text-align: left;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 40px;
        span {
            font-weight: 800;
        }
    }
    .about-img {
        background-image: url(images/about-img.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 4px 4px 40px 0px #b366404d;
        padding: 87px 160px;
        text-align: left;
        .about-img-content {
            width: 80%;
        }
        .about-img-subtitle {
            @include fonts.t3();
            font-size: 24px;
            line-height: 29px;
            color: #fbba00;
        }
        .about-img-title {
            @include fonts.h2();
            line-height: 77px;
            color: black;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .about-img-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 19px 0px;
            .about-img-row-item {
                align-items: center;
                gap: 15px;
                @include fonts.t3();
                .about-img-row-item-check {
                    height: 28px;
                    width: 28px;
                    background-image: url(images/about-check-img.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 80%;
                }
            }
        }
    }
    .about-btn {
        margin-top: 40px;
    }
}
.conditions-section {
    padding: 20px 0px;
    text-align: center;
    .conditions-section-bg {
        background-image: url(images/conditions-bg.png),
            url(images/conditions-bg.png);
        background-repeat: no-repeat;
        background-position: 15% -30%, 100% 120%;
    }
    .conditions-title {
        @include fonts.h2();
        color: black;
        margin-bottom: 60px;
    }
    .conditions-row-item {
        gap: 30px;
        text-align: left;
        .conditions-row-item-img {
            // width: 100%;
            border-radius: 6px;
        }
        .conditions-row-item-text {
            width: 50%;
        }
        .conditions-text-title {
            @include fonts.h3();
            font-weight: 700;
            color: black;
        }
        .conditions-text-subtitle-1-wrapper {
            align-items: center;
            gap: 10px;
            margin-bottom: 40px;
            .conditions-text-subtitle-2 {
                margin-bottom: 0;
            }
        }
        .conditions-text-subtitle-1 {
            @include fonts.h3();
            line-height: 40px;
            color: black;
        }
        .conditions-text-subtitle-2 {
            @include fonts.t6();
            color: #ff5500;
            margin-bottom: 40px;
        }
        .conditions-text-list {
            @include fonts.t6();
            margin-left: 15px;
        }
    }
    .conditions-row-item-1 {
        margin-bottom: 87px;
    }
    .conditions-btn {
        margin-top: 75px;
    }
}
.housing-section {
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
    .housing-bg {
        background-image: url(images/housing-bg.png);
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 85%;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .housing-title {
        @include fonts.h2();
        line-height: 64px;
        color: black;
    }
    .housing-subtitle {
        @include fonts.h3();
        line-height: 40px;
        color: #ff5500;
        padding: 40px 0px;
    }
    .housing-list {
        @include fonts.t6();
        line-height: 36px;
        text-align: left;
        width: 50%;
        margin: 0 auto;
        span {
            font-weight: 700;
        }
    }
    .housing-slider {
        .housing-slider-item {
            height: 400px;
            max-width: 620px;
            margin: 0px 15px;
            overflow: hidden;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // object-position: center;
            }
        }
        .slick-prev:before,
        .slick-next:before {
            content: "";
        }
        .slick-prev,
        .slick-next {
            backdrop-filter: blur(8px);
            z-index: 100;
            height: 112px;
            width: 122px;
            border-radius: 50%;
            border: 2px solid white;
            background-repeat: no-repeat;
        }
        .slick-prev {
            left: 300px;
            background-image: url(images/arrow-left.svg);
            background-position: 47% 50%;
        }
        .slick-next {
            right: 300px;
            background-image: url(images/arrow-right.svg);
            background-position: 53% 50%;
        }
    }
}
.review-section {
    padding-top: 40px;
    padding-bottom: 60px;
    .review-section-row {
        position: relative;
        gap: 48px;
        .review-text {
            width: 50%;
        }
        .review-title {
            @include fonts.h2();
            color: black;
        }
        .review-subtitle {
            @include fonts.t1();
            color: #ff5500;
        }
        .review-slider {
            position: static;
            max-width: 65%;
            .review-slider-item {
                padding: 40px 30px;
                border: 1px solid #ebebeb;
                background: #fbfbfb;
                border-radius: 15px;
                margin: 0px 15px;
                max-width: 465px;
                .review-slider-text {
                    @include fonts.t1();
                    margin-bottom: 30px;
                }
                .user-data-wrapper {
                    gap: 20px;
                    align-items: center;
                    .user-img {
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                    }
                    .user-name {
                        @include fonts.t4();
                        font-size: 20px;
                        line-height: 24px;
                        color: black;
                    }
                    .user-position {
                        font-family: "Roboto", sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19px;
                        color: #979797;
                    }
                }
            }
            .review-slider-item-1 {
                margin-left: 0px;
                .user-data-wrapper {
                    .user-img {
                        background-image: url(images/user-img-1.png);
                    }
                }
            }
            .review-slider-item-2 {
                .user-data-wrapper {
                    .user-img {
                        background-image: url(images/user-img-2.png);
                    }
                }
            }
            .review-slider-item-3 {
                .user-data-wrapper {
                    .user-img {
                        background-image: url(images/user-img-2.png);
                    }
                }
            }
            .review-slider-item-4 {
                .user-data-wrapper {
                    .user-img {
                        background-image: url(images/user-img-2.png);
                    }
                }
            }
            .review-slider-item-5 {
                .user-data-wrapper {
                    .user-img {
                        background-image: url(images/user-img-2.png);
                    }
                }
            }
            .review-slider-item-6 {
                margin-right: 0px;
                .user-data-wrapper {
                    .user-img {
                        background-image: url(images/user-img-2.png);
                    }
                }
            }
            .slick-prev:before,
            .slick-next:before {
                content: "";
            }
            .slick-prev,
            .slick-next {
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 100;
                top: 400px;
                height: 46px;
                width: 46px;
                border: 1px solid black;
                border-radius: 50%;
            }
            .slick-prev {
                left: 0px;
                background-image: url(images/review-arrow-left.svg);
            }
            .slick-next {
                right: 0;
                left: 70px;
                background-image: url(images/review-arrow-right.svg);
            }
            .slick-dots {
                right: 200px;
                bottom: -20px;
            }
        }
    }
}
.requirements-section {
    padding-top: 60px;
    padding-bottom: 80px;
    .requirements-wrapper {
        gap: 70px;
        .requirements-subtitle {
            @include fonts.t6();
            font-size: 24px;
            color: #ff5500;
        }
        .requirements-title {
            @include fonts.h2();
            line-height: 77px;
            color: black;
            margin: 20px 0px;
        }
        .requirements-list {
            @include fonts.t6();
            line-height: 32px;
            margin-left: 20px;
        }
        .requirements-img {
            width: 100%;
        }
    }
    .requirements-btn {
        margin-top: 40px;
    }
}

// ---
