@use "reset";
@use "fonts";

* {
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    padding: 0px 16px;
    margin: 0 auto;
}
.row {
    display: flex;
}

.header {
    .header-wrapper {
        gap: 350px;
        align-items: center;
        padding: 20px 0px;
        .header-logo {
            width: 170px;
            height: 60px;
        }
        .header-menu {
            gap: 100px;
            font-family: "Lexend", sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 36px;
        }
    }
}
